In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

In [14]:
houses = pd.read_csv("/Users/Utilizador/Desktop/Bioinf/2ยบ ano/2ยบ semestre/AA/activity-4.2-house_prices.csv")
houses.head(2920)

     Id;LotArea;YearBuilt;BedroomAbvGr;GarageCars;GarageArea;SalePrice
0                            1;8450;2003;3;2;548;208500
1                            2;9600;1976;3;2;460;181500
2                           3;11250;2001;3;2;608;223500
3                            4;9550;1915;3;3;642;140000
4                           5;14260;2000;4;3;836;250000
...                                                 ...
2914                              2915;1936;1970;3;0;0;
2915                            2916;1894;1970;3;1;286;
2916                           2917;20000;1960;4;2;576;
2917                             2918;10441;1992;3;0;0;
2918                            2919;9627;1993;3;3;650;

[2919 rows x 1 columns]

In [10]:
#check for nulls in the data
houses.isnull().sum()

Id;LotArea;YearBuilt;BedroomAbvGr;GarageCars;GarageArea;SalePrice    0
dtype: int64